<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="align-middle">

        <div class="center">
            <label class="center" sfor="whoever">{{messages.recMsg}}</label>
        </div>
        <br>
        <form action="/backToGreeted" method="POST">
        <button type="submit" class="btn btn-warning" value="back">
            Back
        </button>
    </form>

    </div>

</body>

</html>